<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-col class="ion-text-start">
                <a href="home" class="ion-text-start btn-add">
                    <ion-icon name="arrow-back-circle-outline"></ion-icon>
                </a>
            </ion-col>
            <ion-col class="ion-text-end" style="padding-left: 20%;">
                <img width="50%" src="assets/img/hbparreglado.PNG">
            </ion-col>
        </ion-grid>
    </ion-toolbar>
</ion-header>


<ion-content>

    <ion-list-header style="margin-left: 47%; font-size: 150%;">Servicios</ion-list-header>
    
    
    <ion-card>
        <ion-card-header class="card-header">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h3 class="service-name">
                            Rayos-X
                        </h3>
                    </ion-col>
                    <ion-col class="ion-text-end">
                        <a class="remove">
                            <ion-icon name="remove-circle"></ion-icon>
                        </a>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <ion-card-content class="ion-text-end">
            <ion-grid>
                <ion-row>
                    <ion-col class="ion-text-start">
                        servicio de radiografia mediante rayos x
                    </ion-col>
                    <ion-col class="ion-text-end">
                        <span class="quantity">1</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-grid class="total">
        <ion-row>
            <ion-col class="ion-text-end">
                <h1><small>Total:</small>L. 6,947.00</h1>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <a href="v-vista-pago" class="payment">
                    PAGAR
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
