<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/register"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Datos Personales
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="logo">
    <img src="assets/img/hbparreglado.PNG">
  </div>
  <ion-item>
    <ion-label position="floating">Primer Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="paciente.Nombre"></ion-input>
  </ion-item>
  <p></p>
  <ion-item>
    <ion-label position="floating">Primer Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="paciente.Apellido"></ion-input>
  </ion-item>
  <p></p>
  <ion-item>
    <ion-label position="floating">Segundo Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="paciente.SegundoApellido"></ion-input>
  </ion-item>
  <p></p>
  <ion-item>
    <ion-label position="floating">Identidad</ion-label>
    <ion-input type="text" [(ngModel)]="paciente.Identidad"></ion-input>
  </ion-item>
  <p></p>
  <ion-item>
    <ion-label>Género</ion-label>
    <ion-select mode="ios" placeholder="Seleccione uno" [(ngModel)]="paciente.Genero">
      <ion-select-option value="F">Femenino</ion-select-option>
      <ion-select-option value="M">Masculino</ion-select-option>
    </ion-select>
  </ion-item>
  <p></p>
  <ion-item>
    <ion-label>Nacionalidad</ion-label>
    <ion-select mode="ios" placeholder="Seleccione uno" [(ngModel)]="paciente.IDNacionalidad" [value] = "paciente.IDNacionalidad">
      <ion-select-option *ngFor="let nacionalidad of Nacionalidades" [value]="nacionalidad.IDNacionalidad">
        {{nacionalidad.Nombre}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <p></p>

  <ion-item>
    <ion-label>Ciudad</ion-label>
    <ion-select mode="ios" placeholder="Seleccione una" [(ngModel)]="paciente.Ciudad"
      (ionChange)="onChange()">
      <ion-select-option *ngFor="let ciudad of Ciudades" [value]="ciudad.IDCiudad">
        {{ciudad.Nombre}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <p></p>
  <ion-item>
    <ion-label>Residencia</ion-label>
    <ion-select mode="ios" placeholder="Seleccione una" [(ngModel)]="paciente.Residencia">
      <ion-select-option *ngFor="let residencia of Residencias"  [value]="residencia.IDResidencia">
        {{residencia.Nombre}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button shape="round" color="success" expand="block" (click)="create()">Registrarse</ion-button>
</ion-content>