<ion-tabs>
  <ion-tab-bar mode="md" slot="bottom">
    <ion-tab-button tab="citas">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Citas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="servicios">
      <ion-icon name="layers"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="promociones">
      <ion-icon name="pricetag"></ion-icon>
      <ion-label>Promociones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
