<ion-header>
  <ion-toolbar>
      <ion-grid>
          <ion-col class="ion-text-start">
              <a href="home" class="ion-text-start btn-add">
                  <ion-icon name="arrow-back-circle-outline"></ion-icon>
              </a>
          </ion-col>
          <ion-col class="ion-text-end" style="padding-left: 20%;">
              <img width="50%" src="assets/img/hbparreglado.PNG">
          </ion-col>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list-header style="margin-left: 47%; font-size: 150%;">Servicios</ion-list-header>

    <ion-list>

        <ion-card *ngFor="let servicio of resultServicios">
            <img src="assets/img/serv01.png" />
            <ion-card-content class="ion-text-end">
                <a href="v-vista-compra" class="btn-add">
                    <ion-icon name="add-circle"></ion-icon>
                </a>
            </ion-card-content>
        </ion-card>

        <!--<ion-card>
            <img src="assets/img/serv02.png" />
            <ion-card-content class="ion-text-end">
                <a href="v-vista-compra" class="btn-add">
                    <ion-icon name="add-circle"></ion-icon>
                </a>
            </ion-card-content>
        </ion-card>-->
    </ion-list>
    
</ion-content>
