  

<ion-header>
    <ion-title style="text-align: right;">
        <div class="logo">
            <img width="35%" src="assets/img/hbparreglado.PNG">
        </div>
    </ion-title>
</ion-header>


<ion-content main class="main">

    <div cards>

        <div class="grid-full">
            <ion-row>
                <ion-col>
                    <ion-card>
                        <a href="v-lista-especialidades">
                            <h1 class="ion-text-center green">
                                <ion-icon name="medkit-outline"></ion-icon>
                            </h1>
                            <p class="ion-text-center green">Medicos</p>
                        </a>
                    </ion-card>
                </ion-col>

                <ion-col>
                    <ion-card>
                        <a href="v-lista-servicios">
                            <h1 class="ion-text-center green">
                                <ion-icon name="pricetags-outline"></ion-icon>
                            </h1>
                            <p class="ion-text-center green">Servicios</p>
                        </a>
                    </ion-card>
                </ion-col>

                <ion-col>
                    <ion-card>
                        <a href="v-lista-promociones">
                            <h1 class="ion-text-center green">
                                <ion-icon name="gift-outline"></ion-icon>
                            </h1>
                            <p class="ion-text-center green">Promociones</p>
                        </a>
                    </ion-card>
                </ion-col>

                <ion-col>
                    <ion-card>
                        <h1 class="ion-text-center">
                            <ion-icon name="heart-outline"></ion-icon>
                        </h1>
                        <p class="ion-text-center">&nbsp;</p>
                    </ion-card>
                </ion-col>
            </ion-row>
        </div>

    </div>

</ion-content>
