<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-col class="ion-text-start">
                <a href="home" class="ion-text-start btn-add">
                    <ion-icon name="arrow-back-circle-outline"></ion-icon>
                </a>
            </ion-col>
            <ion-col class="ion-text-end" style="padding-left: 20%;">
                <img width="50%" src="assets/img/hbparreglado.PNG">
            </ion-col>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list-header style="margin-left: 47%; font-size: 150%;">Pagos</ion-list-header>


    <ion-card>
        <ion-card-header class="card-header">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h3 class="service-name">
                            Pago
                        </h3>
                    </ion-col>
                    <ion-col class="ion-text-end">
                        <a class="">
                            
                        </a>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <ion-card-content class="ion-text-start">
            <form>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-input type="text" placeholder="xxxx-xxxx-xxxx-xxxx"></ion-input>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-input type="text" placeholder="00/00"></ion-input>
                        </ion-col>
                        <ion-col>
                            <ion-input type="text" placeholder="CVV"></ion-input>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="ion-text-center">
                            <a href="v-confirmacion" class="payment">
                                PAGAR
                            </a>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-card-content>
    </ion-card>

    <ion-grid class="total">
        <ion-row>
            <ion-col class="ion-text-end">
                <h1><small>Total:</small>L. 6,947.00</h1>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
